<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid navbar-text">
        <%= link_to "Wikinimous", articles_path %>
        <%= link_to "Add a new article", new_article_path %>
      </div>
    </nav>
    <div class="container col-sm-8 col-sm-offset-2">
      <%= yield %>
    </div>
  </body>
</html>
